<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--6-col">
        <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" ng-click="formaNuevoUsuario()">
            Nuevo Usuario
        </a>
        <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
            <thead>
                <tr>
                    <th class="mdl-data-table__cell--non-numeric">Nombre</th>
                    <th class="mdl-data-table__cell--non-numeric">Apellido</th>
                    <th class="mdl-data-table__cell--non-numeric">Fecha de Nacimiento</th>
                    <th class="mdl-data-table__cell--non-numeric">Correo</th>
                    <th class="mdl-data-table__cell--non-numeric">Cedula</th>
                    <th class="mdl-data-table__cell--non-numeric">Empresa</th>
                    <th class="mdl-data-table__cell--non-numeric">Creado Por:</th>
                    <th class="mdl-data-table__cell--non-numeric">Fecha de Creación:</th>
                    <th class="mdl-data-table__cell--non-numeric">Actualizado Por:</th>
                    <th class="mdl-data-table__cell--non-numeric">Fecha de Actualización:</th>
                    <th class="mdl-data-table__cell--non-numeric">Estatus</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="usuario in usuarios" ng-click="getUsuario(usuario)">
                    <td class="mdl-data-table__cell--non-numeric">{{usuario.nombre}}</td>
                    <td class="mdl-data-table__cell--non-numeric">{{usuario.apellido}}</td>
                    <td class="mdl-data-table__cell--non-numeric">{{formatDate(usuario.fecha_nacimiento)}}</td>
                    <td class="mdl-data-table__cell--non-numeric">{{usuario.email}}</td>
                    <td class="mdl-data-table__cell--non-numeric">{{usuario.cedula}}</td>
                    <td class="mdl-data-table__cell--non-numeric">{{getEmpresaById(usuario.empresa_id).nombre}}</td>
                    <th class="mdl-data-table__cell--non-numeric">{{usuario.creado_por}}</th>
                    <th class="mdl-data-table__cell--non-numeric">{{formatDate(usuario.fecha_creacion)}}</th>
                    <th class="mdl-data-table__cell--non-numeric">{{usuario.actualizado_por}}</th>
                    <th class="mdl-data-table__cell--non-numeric">{{formatDate(usuario.fecha_actualizacion)}}</th>
                    <td class="mdl-data-table__cell--non-numeric">{{getEstatus(usuario.estatus)}}</td>
                </tr>
            </tbody>
        </table>
        <div ng-if="usuario_sel">
            <div class="demo-card-wide mdl-card mdl-shadow--2dp">
                <div class="mdl-card__title mdl-card--expand">
                    <h2 class="mdl-card__title-text">Usuario</h2>
                </div>
                <div class="mdl-card__supporting-text">
                    <form action="#">
                    <ul class="demo-list-item mdl-list">
                    <li class="mdl-list__item">
                        <span class="mdl-list__item-primary-content">Nombre:</span>
                    </li>    
                    <li class="mdl-list__item">
                        <span class="mdl-list__item-primary-content">
                            <div class="mdl-textfield mdl-js-textfield">
                                <input class="mdl-textfield__input" type="text" id="nombre" ng-model="usuario_sel.nombre">
                            </div>
                        </span>    
                    </li>
                    <li class="mdl-list__item">
                        <span class="mdl-list__item-primary-content">Apellido:</span>
                    </li> 
                    <li class="mdl-list__item">
                        <span class="mdl-list__item-primary-content">    
                            <div class="mdl-textfield mdl-js-textfield">
                                <input class="mdl-textfield__input" type="text" id="apellido" ng-model="usuario_sel.apellido">
                            </div>
                        </span>    
                    </li>
                    <li class="mdl-list__item">
                        <span class="mdl-list__item-primary-content">Fecha de Nacimiento:</span>
                    </li>
                    <li class="mdl-list__item">
                        <span class="mdl-list__item-primary-content">
                            <date-picker ng-model="usuario_sel.fecha_nacimiento">
                            </date-picker>
                        </span>
                    </li>
                    <li class="mdl-list__item">
                        <span class="mdl-list__item-primary-content">Correo:</span>
                    </li> 
                    <li class="mdl-list__item">        
                        <span class="mdl-list__item-primary-content">
                            <div class="mdl-textfield mdl-js-textfield">
                                <input class="mdl-textfield__input" type="email" id="email" ng-model="usuario_sel.email">
                            </div>
                        </span>    
                    </li>
                    <li class="mdl-list__item">
                        <span class="mdl-list__item-primary-content">Contraseña:</span>
                    </li> 
                    <li class="mdl-list__item">        
                        <span class="mdl-list__item-primary-content">
                            <div class="mdl-textfield mdl-js-textfield">
                                <input class="mdl-textfield__input" type="password" id="password" ng-model="usuario_sel.clave">
                            </div>
                        </span>    
                    </li>
                    <li class="mdl-list__item">
                        <span class="mdl-list__item-primary-content">Cedula:</span>
                    </li> 
                    <li class="mdl-list__item">
                        <span class="mdl-list__item-primary-content">
                            <div class="mdl-textfield mdl-js-textfield">
                                <input class="mdl-textfield__input" type="text" id="cedula" ng-model="usuario_sel.cedula">
                            </div>
                        </span>    
                    </li>
                    <li class="mdl-list__item">
                        <span class="mdl-list__item-primary-content">Empresa:</span>
                    </li> 
                    <li class="mdl-list__item">
                        <span class="mdl-list__item-primary-content">
                            <select name="repeatSelect" id="empresa_id" ng-model="usuario_sel.empresa_id">
                                <option ng-repeat="empresa in empresas" value="{{empresa.id}}">{{empresa.nombre}}</option>
                            </select>
                        </span>    
                    </li>
                    <li class="mdl-list__item">
                        <span class="mdl-list__item-primary-content">Estatus:</span>
                    </li> 
                    <li class="mdl-list__item">
                        <span class="mdl-list__item-primary-content">
                            <select name="repeatSelect2" id="estatus" ng-model="usuario_sel.estatus">
                                <option value="1">Activo</option>
                                <option value="2">Inactivo</option>
                            </select>
                        </span>    
                    </li>
                    </ul>
                        <input type="hidden" id="creado_por" ng-model="usuario_sel.creado_por" value="1" ng-if="modo_forma===1">
                        <input type="hidden" id="creado_por" ng-model="usuario_sel.actualizado_por" value="1" ng-if="modo_forma===2">
                    </form>
                </div>
                <div class="mdl-card__actions mdl-card--border">
                <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" ng-if="modo_forma===1" ng-click="nuevoUsuario()">
                    Crear
                </a>    
                <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" ng-if="modo_forma===2" ng-click="modificarUsuario()">
                    Modificar
                </a>
                    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" ng-if="modo_forma===2" ng-click="eliminarUsuario()">
                    Eliminar
                </a>
            </div>
            </div>
        </div>
    </div>
</div>    